@@@@@@@@@@888888L111111ii10@@@@88800GL1ii;;;;;;;;;;;;;;:;::::::::::::,:,,,.,:........,:L@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8GG;.
@@@@@@@@@@88888L111i11i118@@@@@88800CLfti;ii;;;;;;;;;;;;:;::::::::::,:,,,,,,....,:iL@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G:
@@@@@@@@@@8888L11111ii1C@@@@@@@88800CCfiiii;;;;;;;;;;;;;;;::;::::::::,:,,,,,.:,,:t0@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0i
@@@@@@@@@8888f1111111t8@@@@@@8888000Gfii;i;;i;;;;;;;;;;;;:;;:::::::,:,:,,,,,,,:t8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8i.
@@@@@@@@88@8f1111111G@@@@@@@@88880GCfiiiii;;i;;;;;;;;;;;;;;;:::::::,:,,,,,,,,;G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8Gf,
88888@88888f111111f8@@@@8888888000Ctiiiiiii;;;;;;;;;;;;;;:;;:::::::,,,,,,,,,i8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0Li
888880088@f11111f8@@@@@888880000GL1iiiiiiii;ii;;;;;;;;;;;:;:::::::::::::,,,1@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0L:
800000008f1111t8@@@@@8888888800CL1iiiiiiii;;i;;;;;;;;;;;;;:::::::::::,,,,,:1@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@@@@@@@@@@@@@@@@@@0t:
80000008f111tG@@@@@@8888888800Gf1iiiiiiii;;;;;;;;;;;;;:;:::;:::::::,::::,,:f@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88888888888@@@@@@@@@@@@@@@8@t..
8000008f111f8@@@@@88888888800C1iiiiiii;i;;;;;;;;;;;;;;;;::::::::::::,,:::,:@@@@@@@@@@@@@@@@@@@@@@@@8@@888888888888888888@@@@@@@@@@@@@0L.
000008f111L@@@8888888888880Gf1iiiiiiiiiii;;;;;;;;;;;;;;;;:::::::::::::::::i@@@@@@@@@@@@@@@@@@@@88888888888888888888888888888888@@@@0f@L:
80088ttt1G@@@8800000000000Gt1iiiiiiiiiii;ii;;;;;;;;;;;;;;:;;::::::::::::::@@@@@@@@@@@@@@@@@@@@88888888888888888888888888000GCC08@@@@CiL;
8880tttt8@@8880000000GGGGCt1iiiiiiiiiiiiiii;;;;;;;;;;;;;;;;;;::::::::::::i@@@@@@@@@@@@@@@@@@@888888888888888888888888880GGCtitLG@@@00ti:
8@8tttC@@@8888000000GGCLf11111iiiiiiiiiiiiii;;;;;;;;;;;;;;:::::::::::i00;f@@@@@@@@@@@@@@88888888888888888888888888888800Cf1:,:if@@GC1t:,
88ftL8@@@88888000000GCCf1111i11iiiiiiiiiiii;;;;;;;;;;;;;;;;;::::::::0@@@@@@@@@@@@@@@@@@@8888888888888888888880088888800GL1;,...fGGCt;:.
0000008888808800000GCCt111111i11iiiiiiiiiiiii;i;;;;;;;;;;;;;;;:::::t@@8@@@@@@@@@@@@@@@@8888888888888888888888888888800GCt1:,. ,tLfLi,
000GGGG00000000000GCLttt1111111111iiiiiiiiiiiii;;;;;;;;;;;;;;;:;::;@@@8@@@@@@@@@@@@@@@@@@@@8888888888888880088888800CCLfti:,.  1CLf;
000GCCCLCCG00000GCCftttttt11111111111iiiiiiiiii;;;;;;;;;;;;;;;;:;:1@8@@@@@@@@@@@@@@@@@@@@@@@88888888888888080000000GLL11i::,  .1tt.
00GGCCCLLLLLG0GGCCftttt11111111111111iiiiiiiiii;i;;;;;;;;;;;;;;;;;8@@@@@@@@@@@@@@@@@@@@@@@@@@@888888888888800000000GL1;;;;,.  i;.
00GGCCCLLLLLffLCCtttttttt1tt1t11111111iiiiiiiiii;;;;;;;;;;;;;;;;;;8@@@@8@@@@@@@@@@@@@@@@@@@@@@@@@@88888888888800000GLt1ii:,  ::
000GGGCCCCCLLtfftttttttttttttt11111111111iiiiiiiii;;;;;;;;;;;;;;;;8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8888888888800Cfft::,  ..                                 .
0000GGGCCCCLLLfttttttttttttttttttt1111111iiiiiiiii;;;;;;;;;;;;;::;8@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88888GCLf;   .                             ....,,:
000000GGGGCCLfffttfttttftttttttt1111iiiiiiiii;;;;;;;;;;::::::::::188@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@80L;  1@i                            ..,,,::
00000000GGGCCfffffffffffftfffffLLt1tt111iiiiii;;;;;;;;::;::::::::188@@@@888@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@80LtG@@.                     ...,,:::;;iii
000000000GGLCG0800GLftffffffffffLLLLfLLCi;;;;::::::::::,:,:::,,,,:888@@@@@@88888@@@@@@@@@@@@@@@8888@@@@@@@@@@@@@@@@@@@@@@800@f                   ..,,,:::;;;iii1
00GGG00GLf08888000GL1itffffffLLLLLLCCCCCC;;;::::::::,,,,,,,,,,,,,,,1f@@@@@8888888888@@@@@@@@@8800GC8@8@@@@@@@@@@@@@@@@8Lf@@@@8                     ...,,,:::;;ii
00CG00GfL88888000GCti;1fffffffLLCCCCCCCCf;;::::::::::::,,,,,,,,,,,,,i@@@@@88888888888@@@@@@@8800LfL8@80@@@@@@@@8888@80f.;@@@@L                       ..,,,:::;;i
0GCGGGLL888880000CLtii1ttttttffLLLLLLLLL1;;::::::,:,:,,,,,,,,,,,,,,,8@@@@@@8888888888@@@@@88800f11L80@@88@@@@@@8880C1;,.@@0t;                        ...,,,::;;;
0GGGGft8888880000GLfttttttttfffLLLLLLLLL1;;:::::::,,,,,,,,,,,,,,,i@@@@@@@@@@@888888@@@88@88000Gt;;LLC0@@@@8@@@@888Ct;:f8i                             ...,,:::;;
000GC0@@888888000CCLtttttttttffLLLLLLLLLi;::::,::,,,,,,,,,,,,,,L@@@@@@@@@@@@@888888@@88888000GC1:;LLL08888@@@@@88G0G8@G.                               ...,,::;;
000888@888888880GL111ttttttttffLLLLLLLLfi;;;;;;;;:::::::::::iC@@@@@@@@@@@@@@@8888888@@@@@888GGL1::;i0088888800GGLf1f0f                               ...,,:::;;i
08@888@888888880CLLLfttttttttffLLLLLLLLL1111ii1iiiiiiiiiiiiC@@@@@@@@@@@@@@@@@8888888@@@@@8888000Gf;t8888808800GCf11i;,,,........................,,,,::;;;iiii1tt
8@@88@@8888888800GCLfffffffLLLCCCCCCCGGGfttttt1tt11111111tC@@@@@@@@@@@@@@@@@@@@@88888@@@@@880GG00GG08880008800GL;1t,.,.,.......................,,,:::::;;;ii111t
8@888@@@@88888800GCLCCCC0@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@8888880CLCCLCG08GG0080GC1Ct;,,,,,.......................,,,,:::::;;iii111t
8@88888@8888888800GGGGG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8888880GCLLLLC0GfL00GGLi,,,,,:ittiC,:18 ,.... . .........,,,:::;;;;iiii11t
8@88888888888880GGGG0@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@80CLCCCGGf;CCGCfi,,,,,,:iLfC@C,   ;i:  i:  ...   ..,,::;;;;;iiiii11t
8888888888880GGGG0@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88Gf;fGffi,,,..,,;tC0@@.     1,      ..   ; ..;:;iiiii1iiifC1t
888888888800G8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@888@@@8888888000G08@@@801L0tt8@:,....:;fG@,   i;:;  1;    .... .,; :;;i111t@t LCGit
888888888008@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8888888888888@8800GGGG08@8CGCtC@@@:....,:ifC@GL.1     1.. .  ,,.. ... ;;i;i11t@0L1G8G@
088888888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@@@@@@@88888888888888000G0GG00CCGLC@@@@@@t..,::1LG8:;,  C,      ,f .,....,. ,:;;it1i111itCfC
80888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0@@@@@@@@@88888888880080008000LtCC8@@@@@@@@@;,,:;fL0@G:8L . ,         :..... ..,:;;t1ii111i 1t
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0@@@@@@@@@888808000GCCCCG000LL8@@@@@@@@@@@i:,:;iLC0@@      i.@   ii  ;....:., ,;iitt1111t1 tt
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G@@@@@@@@@@888888800GCLCG0GC8@@@@@@@@@@@@@;::;;tLC8@@i, ,@@@@8 fC .. ,:,,.i:f i:i1tf11ttft ff
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88888800000GG@@@@@@@@@@@@@@@@Ci11LCG088::,:;,:GL1f.. .,.i;;:;;ii t1ttttttftt1 L
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@@@@@@@@@@@@@@@@0G@C@08@@@@@@@@@@@@@@@@@88888888888888880000000000000000000088@@@@@8888@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0G@LG8C@@@@@@@@@@@@@@@@@@@@@t11111111iiiiiiiii;iiiiiiiiiiiiii1tL8@8G8fLLCC
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0C@i1C1@@@@@@@@@@@@@@@@@@@@@@@@@1i;;;;;;;;::::::,,,,:::;;;;:::::;1L8@@LffffL
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G@@@@@@,t,f@@@@@@@@@@@@@@@@@@@@@@@@@@@01iiiiii;:...     :1tCCCCCLLC;,::;f@81ttttf
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@@@@G@0@@@@@@@iL@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@0@@@@00       108CCLL0CGL1..,,;88111ttf
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G18@@@@      .L88CC0f,GCLf...,:fLi11ttf
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@88@@@      :C8@GC0CGiCLf,.,,:;ii11ttf
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,     iG8@8CCL0f0LL,.,:;i1ttfffL
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8i,,.,:tLCGGLLLCCCCL;:;;;1GLttfff
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@f1iiiiiiiiiiiiii1i11tLCf@@G8GLL
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@f;::::,:::,:::::::;1fC888Gttt
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@0,               ..:t0@01111
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                 .i8L;;;i
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1                 .GC;;;;
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 .,::;;
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                .,:::;
